## 0. 개발 환경 구성

1. Python 가상 환경 생성  
   - 이름 : `sprint_part4`
   - `python -m venv sprint_part4`

2. VSCode에 가상 환경의 Python 등록

3. 가상 환경 활성화
   - 윈도우 git bash → `source sprint_part4/Scripts/activate`
   - 윈도우 CMD → `call sprint_part4/Scripts/activate`
   - 맥 터미널 → `source sprint_part4/bin/activate`

4. 가상 환경에 `requirements.txt` 파일 내 라이브러리들 설치
   - `pip install -r requirements.txt`

5. `docker-compose.yaml` 파일을 통해 MYSQL, POSTGRESQL 컨테이너 생성
   - `docker compose up -d`

## 1. Python을 통한 DB Connection

In [1]:
import psycopg2, pandas as pd, sqlalchemy, pymysql, dotenv, loguru

In [2]:
## pymysql <--> mysql DB
## psycopg2 <--> postgresql DB
## oracle_db <--> oracle DB
## pymssql <--> mssql DB
## sqlalchemy <--> 다양한 RDBMS를 공통적인 코드로 connection 연결이 가능

### 1-1 MySQL 라이브러리(pymysql)를 활용한 Connection

In [1]:
import pymysql

user = 'root'
password = '123456'
host = 'localhost'
port = 3300  
database = 'docker_mysql'

mysql = pymysql.connect(
    user=user,
    password=password,
    host=host,
    port=port,
    database=database,
    charset='utf8'
    )

#### cursor 란?
- 쿼리문에 의해서 반환되는 결과값들을 저장하는 메모리공간

In [2]:
cursor = mysql.cursor()

In [3]:
cursor.execute('SHOW DATABASES')

5

In [ ]:
cursor.fetchall()
# cusor.fetchone()
# sursor.fetchmany() 한 번 fetch를 사용하면 다음에 fetch를 사용하면 아무값도 반환되지 않음음

(('docker_mysql',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

#### DDL & DML 쿼리 생성

In [5]:
## 테이블 생성 쿼리 

create_query = """
    CREATE TABLE IF NOT EXISTS lecture (
        id INT AUTO_INCREMENT PRIMARY KEY, 
        name VARCHAR(20),
        year INT,
        gender VARCHAR(10),
        count INT
        );
"""

cursor.execute(create_query)

0

In [6]:
cursor.execute('SHOW TABLES FROM docker_mysql')
cursor.fetchall()

(('lecture',),)

In [ ]:
## INSERT
insert_query = """
    INSERT INTO lecture
    VALUES (1, 'codeit', 2025, 'M', 100);
"""
cursor.execute(insert_query)

1

In [8]:
mysql.commit()

In [13]:
## UPDATE
update_query = """
    UPDATE lecture SET count = 200 WHERE id = 1
"""
cursor.execute(update_query)

1

In [14]:
mysql.commit()

In [15]:
## DELETE
delete_query = """
    DELETE FROM lecture WHERE id = 1
"""
cursor.execute(delete_query)
mysql.commit()

### 1-2 Postgresql 라이브러리(psycopg2)를 활용한 Connection

In [17]:
import psycopg2

user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 5430
dbname = 'docker_postgres'

postgres = psycopg2.connect(
    user=user,
    password=password,
    host=host,
    port=port,
    dbname=dbname,
    )

In [18]:
cursor = postgres.cursor()

#### DDL & DML 쿼리 생성

In [19]:
## CREATE
create_query = """
    CREATE TABLE lecture (
        id SERIAL PRIMARY KEY, 
        name VARCHAR(20), 
        year INT, 
        gender VARCHAR(10), 
        count INT
        )
    """
cursor.execute(create_query)
postgres.commit()

In [20]:
## INSERT
insert_query = """
    INSERT INTO lecture
    VALUES (1, 'codeit', 2025, 'M', 100);
"""
cursor.execute(insert_query)
postgres.commit()

In [21]:
## UPDATE
update_query = """
    UPDATE lecture SET count = 200 WHERE id = 1
"""
cursor.execute(update_query)
postgres.commit()

In [22]:
## DELETE
delete_query = """
    DELETE FROM lecture WHERE id = 1
"""
cursor.execute(delete_query)
postgres.commit()

#### Connection Pool

<img src="https://velog.velcdn.com/images/newnew_daddy/post/f0569aa7-1aad-466e-a24f-5e3b5f248a72/image.png" width="30%">

- 일정량의 Connection 객체를 미리 만들어서 pool에 저장
- 클라이언트 요청이 오면 Connection 객체를 빌려주고 해당 객체의 임무가 완료되면 다시 Connection 객체를 반납 받아 pool에 저장
- 큰 커넥션 풀은 메모리 소모가 큰 대신 대기 시간이 적어지고, 작은 커넥션 풀은 메모리 소모가 작은 대신 대기 시간이 길어진다. ([적정 Connection 수 공식](https://github.com/brettwooldridge/HikariCP/wiki/About-Pool-Sizing#the-formula))
- 자원을 사용하면 반드시 반납을 해줘야하는데 이를 위해 DB 연결시 파이썬 `with문`을 사용

In [23]:
# db객체 반납

postgres.close()

### 1-3. sqlalchemy 라이브러리를 활용한 Connection

In [6]:
from sqlalchemy import create_engine, text

## MYSQL connection

engine_name = "mysql+pymysql"
user = 'root'
password = '123456'
host = 'localhost'
port = 3300
database = 'docker_mysql'

# connection 객체 생성
mysql_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

mysql_conn

Engine(mysql+pymysql://root:***@localhost:3300/docker_mysql)

In [25]:
cursor = mysql_conn.connect()

In [ ]:
res = cursor.execute(text('SHOW DATABASES')).fetchall()

res.fetchall()

# cursor.execute(text('SHOW DATABASES')).fetchall()

[('docker_mysql',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [28]:
## postgres connection

engine_name = "postgresql"
user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 5430
database = 'docker_postgres'

# connection 객체 생성
pg_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

pg_conn

Engine(postgresql://codeit:***@localhost:5430/docker_postgres)

In [ ]:
cursor = pg_conn.connect()

### 1-4. with문 활용

#### Bad Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/df312bda-0b22-4476-8a03-505f1d3cf5b4/image.png" width="50%">

#### Good Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/707d46b0-8a0b-4862-ad95-285dc04ddc29/image.png" width="50%">

- Python에서 파일 또는 리소스 관리를 더 효과적으로 처리하기 위한 블록 구조
- 리소스를 열고 사용한 후 자동으로 닫아주기 때문에 닫아주는 코드를 작성할 필요가 없습니다. 
- 주로 파일 입출력, 데이터베이스 연결, 네트워크 연결 등 리소스 관리에 사용됩니다.

### 1-5. pandas을 활용한 조회 및 저장
- sqlalchemy connection만 활용이 가능!

#### 1) 연결 객체 생성

In [29]:
## MYSQL connection

engine_name = "mysql+pymysql"
user = 'root'
password = '123456'
host = 'localhost'
port = 3300
database = 'docker_mysql'

# connection 객체 생성
mysql_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

mysql_conn

Engine(mysql+pymysql://root:***@localhost:3300/docker_mysql)

#### 3) 테이블 저장
- [to_sql()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html) 메소드
- dataframe.to_sql( 테이블 이름, sqlalchemy_connector, 옵션 )

In [32]:
names = pd.read_csv(r'C:\Users\ksh75\OneDrive\바탕 화면\codeit\dataengineering_repo\01_python_database\dataset\names.csv')

In [34]:
names.head(1)

   id  name  year gender  count
0   1  Mary  1880      F   7065

In [35]:
names.to_sql(
    name= 'names', # 데이터베이스에 저장될 테이블의 이름
    con= mysql_conn, # sqlalchemy 연결 객체
    if_exists= 'replace' # 데이터베이스에 동일한 이름의 테이블이 존재할 경우 작업 방식(fail,replace,append)
)

2000

#### 2) 테이블 데이터 조회

In [46]:
pd.read_sql(
    sql= 'SELECT * FROM names limit 10',
    con=mysql_conn
)

   index  id       name  year gender  count
0      0   1       Mary  1880      F   7065
1      1   2       Anna  1880      F   2604
2      2   3       Emma  1880      F   2003
3      3   4  Elizabeth  1880      F   1939
4      4   5     Minnie  1880      F   1746
5      5   6   Margaret  1880      F   1578
6      6   7        Ida  1880      F   1472
7      7   8      Alice  1880      F   1414
8      8   9     Bertha  1880      F   1320
9      9  10      Sarah  1880      F   1288

postgres로 
1. sqlalchemy postgresql 연결 생성
2. to_sql() 메소드로 데이터베이스에 names 테이블 지정
3. read_sql() 메소드로 names 테이블을 dataframe형식으로 불러오기

In [38]:
## postgres connection

engine_name = "postgresql"
user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 5430
database = 'docker_postgres'

# connection 객체 생성
pg_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

pg_conn

Engine(postgresql://codeit:***@localhost:5430/docker_postgres)

In [4]:
import pandas as pd

names = pd.read_csv(r'C:\Users\ksh75\OneDrive\바탕 화면\codeit\dataengineering_repo\01_python_database\dataset\names.csv')

In [ ]:
names.to_sql(
    name='names',
    con= pg_conn ,
    if_exists='replace'
)

1000

In [43]:
pd.read_sql(
    sql= 'SELECT * FROM names limit 5',
    con= pg_conn
)

   index  id       name  year gender  count
0      0   1       Mary  1880      F   7065
1      1   2       Anna  1880      F   2604
2      2   3       Emma  1880      F   2003
3      3   4  Elizabeth  1880      F   1939
4      4   5     Minnie  1880      F   1746

In [3]:
from sqlalchemy import (
    Column,
    INTEGER,
    VARCHAR,
    String,
    Text,
    Float,
    Numeric,
    Boolean,
    Date,
    DateTime,
    Time,
    Interval,
    LargeBinary,
    JSON,
    ARRAY,
    Enum,
    SmallInteger,
    BigInteger,
    Unicode,
    UnicodeText,
    PickleType,
    BLOB,
    CLOB
)

In [45]:
names.to_sql(
    name='names2',
    con= mysql_conn ,
    if_exists='replace',
    dtype={
        'id': INTEGER,
        'name': VARCHAR(20),
        'year': INTEGER,
        'gender': VARCHAR(20),
        'count': INTEGER 
    }
)

2000

#### 4) 테이블 조회/저장 실습

In [ ]:
"""
tips.csv 파일의 데이터를 활용하여 아래 과정을 진행해주세요.

1. 1 ~ 100 행
- MYSQL에 저장 (to_sql 활용)
	- 테이블 이름 : 'tips'
	- if_exist 조건 : replace
	
2. 101 ~ 244 행
- POSTGRESQL에 저장 (to_sql 활용)
	- 테이블 이름 : 'tips'
	- if_exist 조건 : replace
	
3. MYSQL tips 테이블 + POSTGRESQL tips 테이블을 각각 dataframe으로 불러와서 concat 해주세요.	
"""

In [ ]:
tips = pd.read_csv(r'C:\Users\ksh75\OneDrive\바탕 화면\codeit\dataengineering_repo\01_python_database\dataset\tips.csv',nrows=100)


mysql_tips = tips.loc[tips['id']<=100]
pg_tips = tips.loc[tips['id']>100]

In [ ]:
## MYSQL connection

engine_name = "mysql+pymysql"
user = 'root'
password = '123456'
host = 'localhost'
port = 3300
database = 'docker_mysql'

# connection 객체 생성
mysql_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

mysql_conn

## postgres connection

engine_name = "postgresql"
user = 'codeit'
password = 'sprint'
host = 'localhost'
port = 5430
database = 'docker_postgres'

# connection 객체 생성
pg_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

pg_conn

Engine(mysql+pymysql://root:***@localhost:3300/docker_mysql)

In [ ]:
mysql_tips.to_sql(
    name='tips',
    con=mysql_conn,
    if_exists= 'replace',
    index=False
)

pg_tips.to_sql(
    name='tips',
    con=pg_conn,
    if_exists='replace',
    index=False
)

100

In [ ]:
mysql_tips1 = pd.read_sql(
    sql='select * from tips',
    con= mysql_conn
)
pg_tips1 = pd.read_sql(
    sql='select * from tips',
    con= pg_conn
)

In [ ]:
pd.concat([mysql_tips1,pg_tips1],axis=0)

      id  total_bill   tip smoker   day    time  size
0      1       16.99  1.01     No   Sun  Dinner     2
1      2       10.34  1.66     No   Sun  Dinner     3
2      3       21.01  3.50     No   Sun  Dinner     3
3      4       23.68  3.31     No   Sun  Dinner     2
4      5       24.59  3.61     No   Sun  Dinner     4
..   ...         ...   ...    ...   ...     ...   ...
139  240       29.03  5.92     No   Sat  Dinner     3
140  241       27.18  2.00    Yes   Sat  Dinner     2
141  242       22.67  2.00    Yes   Sat  Dinner     2
142  243       17.82  1.75     No   Sat  Dinner     2
143  244       18.78  3.00     No  Thur  Dinner     2

[244 rows x 7 columns]

## 3. dotenv 라이브러리를 활용한 민감 정보 관리

- 환경 변수에 대한 관리를 효과적이고 안전하게 할 수 있도록 도와주는 python 라이브러리
- DB정보, 비밀번호, API KEY 등 외부에 공유되거나 Git에 올라가면 안되는 값들을 하드코딩 하지 않고 사용이 가능.

    ```
    pip install python-dotenv
    ```

    > https://velog.io/@newnew_daddy/python-dotenv

#### 1) 기본 기능 사용

In [3]:
import dotenv

# .env 파일 경로 찾기
env_path = dotenv.find_dotenv()

# .env 파일  (내용이 있으면 -> True, 없으면 -> False)
dotenv.load_dotenv(env_path)

# .env 파일에 등록된 정보 출력력
dotenv.dotenv_values(env_path)

OrderedDict([('MYSQL_ENGINE_NAME', 'mysql+pymysql'),
             ('MYSQL_USER', 'root'),
             ('MYSQL_PASSWORD', '123456'),
             ('MYSQL_HOST', 'localhost'),
             ('MYSQL_PORT', '3300'),
             ('MYSQL_DATABASE', 'docker_mysql'),
             ('PG_ENGINE_NAME', 'postgresql'),
             ('PG_USER', 'codeit'),
             ('PG_PASSWORD', 'sprint'),
             ('PG_HOST', 'localhost'),
             ('PG_PORT', '5430'),
             ('PG_DATABASE', 'docker_postgres')])

In [2]:
dotenv.find_dotenv()

'c:\\Users\\ksh75\\OneDrive\\바탕 화면\\codeit\\dataengineering_repo\\01_python_database\\.env'

#### 2) .env 파일 작성

In [ ]:
ENGINE_NAME=""
USER=''
PASSWORD=''
HOST=''
PORT=''
DATABASE=''

#### 3) 값들 Load해오기

In [ ]:
import os
'''
dotenv 라이브러리에서 .env 파일 불러오기가 선행이 되어야 적용 가능
'''
os.getenv('MYSQL_ENGINE_NAME')

'mysql+pymysql'

In [12]:
engine_name = os.getenv('MYSQL_ENGINE_NAME','')
user = os.getenv('MYSQL_USER','')
password = os.getenv('MYSQL_PASSWORD','')
host = os.getenv('MYSQL_HOST','')
port = os.getenv('MYSQL_PORT','')
database = os.getenv('MYSQL_DATABASE','')

# connection 객체 생성
mysql_conn = create_engine(f"{engine_name}://{user}:{password}@{host}:{port}/{database}")

In [ ]:
pd.read_sql(
    sql='SELECT * FROM tips LIMIT 5',
    con= mysql_conn
)

   index  id  total_bill   tip smoker  day    time  size
0      0   1       16.99  1.01     No  Sun  Dinner     2
1      1   2       10.34  1.66     No  Sun  Dinner     3
2      2   3       21.01  3.50     No  Sun  Dinner     3
3      3   4       23.68  3.31     No  Sun  Dinner     2
4      4   5       24.59  3.61     No  Sun  Dinner     4

## 4. Python Class를 사용한 DB 접속 관리

#### 1) self에 대한 이해
- Class 내에서 생성된 객체나 정보들을 저장할 수 있는 dictionary 자료형!
- 'self'를 매개로 Class 내에서 정보/데이터를 공유할 수 있다.

In [ ]:
# 외부 변수 : name, age

# self = {}
class TempClass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
tc1 = TempClass('Paul',30)
'''
self = {
    'name' : Paul,
    'age' : 30
}
'''

tc1.__dict__

#### 2) Class 작성

In [ ]:
class DOConnector:
    def __init__(self, engine_name, user, password, host, port, database):
        self.engine_name = engine_name
        self.user = user
        self.password = password
        self.host = host
        self.port = port
        self.database = database

#### 3) Asterisk(*)에 대한 이해

#### 4) connection parameter 합치기

#### 5) DBconnector에 asterisk 적용

#### 심화) class 객체에 with문 적용
Bad Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/df312bda-0b22-4476-8a03-505f1d3cf5b4/image.png" width="50%">

Good Case

<img src="https://velog.velcdn.com/images/newnew_daddy/post/707d46b0-8a0b-4862-ad95-285dc04ddc29/image.png" width="50%">

- Python에서 파일 또는 리소스 관리를 더 효과적으로 처리하기 위한 블록 구조
- 리소스를 열고 사용한 후 자동으로 닫아주기 때문에 닫아주는 코드를 작성할 필요가 없습니다. 
- 주로 파일 입출력, 데이터베이스 연결, 네트워크 연결 등 리소스 관리에 사용됩니다.

    ```
    with문을 사용할 때는 with 키워드 다음에 리소스를 관리하는 객체를 생성하는 표현식을 사용하며, 
    이 객체는 __enter__와 __exit__ 메소드를 구현해야 합니다. 
    with 블록 내에서 리소스를 사용하고 블록을 벗어나면 __exit__ 메소드가 호출되어 리소스를 정리합니다.
    ```

- enter, exit 적용
    > [https://docs.python.org/ko/3/reference/datamodel.html#object.__enter__](https://docs.python.org/ko/3/reference/datamodel.html#object.__enter__)

## 5. Loguru를 활용한 작업 로깅

#### 로깅이란?
- 프로그램 실행 중 발생하는 이벤트, 상태, 오류 등을 기록하는 프로세스
- 단순히 `print()`로 콘솔에 출력하여 메세지를 확인할 수 있지만, 로깅 모듈을 활용하면 로그 메시지를 파일에 저장하거나 특정 형식으로 관리할 수 있습니다.
  
#### Loguru란?
- 파이썬의 기본 `logging` 모듈보다 더 간단하고 직관적인 설정으로 로깅을 구현할 수 있도록 해주는 라이브러리.

In [ ]:
from loguru import logger

logger.add('logger.log')

# log_format = "{time:YYYY-MM-DD HH:mm:ss} | {level} | {name} | {message}"
# logger.add(
#         "task.log",
#         format=log_format,
#         level="DEBUG",
#     )

#### Loguru 로그 레벨
1. TRACE (레벨 5)
   - 가장 낮은 레벨로, 매우 세부적인 디버깅 정보를 기록할 때 사용.
   - 예: 변수 값 추적, 함수 호출 흐름 등.

2. DEBUG (레벨 10)
   - 디버깅 목적으로 상세 정보를 기록할 때 사용.
   - 예: 프로그램 흐름, 내부 상태 디버깅.

3. INFO (레벨 20)
   - 일반적인 정보 메시지를 기록할 때 사용.
   - 예: 프로그램 시작/종료, 주요 작업 완료.

4. SUCCESS (레벨 25)
   - 작업이 성공적으로 완료되었음을 나타낼 때 사용.
   - 예: 파일 처리 완료, 데이터 저장 성공.

5. WARNING (레벨 30)
   - 경고 상황, 잠재적 문제나 주의가 필요한 경우에 사용.
   - 예: 설정값이 예상 밖이거나, 비추천 기능 사용.

6. ERROR (레벨 40)
   - 오류가 발생했지만 프로그램이 계속 실행 가능한 경우에 사용.
   - 예: 파일 읽기 실패, 네트워크 연결 오류.

7. CRITICAL (레벨 50)
   - 심각한 오류로, 프로그램이 중단되거나 복구 불가능한 상태일 때 사용.
   - 예: 데이터베이스 연결 완전 실패, 시스템 크래시.

---

#### 로그 레벨 사용 방법
```python
from loguru import logger

logger.trace("This is a trace message")
logger.debug("This is a debug message")
logger.info("This is an info message")
logger.success("This is a success message")
logger.warning("This is a warning message")
logger.error("This is an error message")
logger.critical("This is a critical message")
```

#### 로그 레벨 필터링
`logger.add()`에서 `level` 파라미터를 설정하여 특정 레벨 이상의 로그만 기록하도록 필터링할 수 있습니다:
```python
logger.add("task.log", level="INFO")  # INFO 이상만 기록
```

In [ ]:
def info_msg():
    logger.info("This is a INFO message.")

def debug_msg():
    logger.info("This is a DEBUG message.")