## 0. 필요 라이브러리 import

In [ ]:
!pip install google-cloud-storage

In [ ]:
from google.oauth2 import service_account
from google.cloud import storage

## 1. GCP 권한 인증

In [ ]:
## 권한 인증

JSON_KEY_PATH = ".json"

credentials = service_account.Credentials.from_service_account_file(JSON_KEY_PATH)

In [ ]:
## Client 생성

## 2. Parquet 파일 다루기
- 데이터를 객체 저장소에 저장할 때는, 용량 효율성, 빅데이터 도구들과의 호환성, 파티셔닝 등의 이점 때문에 CSV나 JSON 같은 포맷보다 Parquet 포맷을 사용하는 경우가 많습니다. (대부분 Parquet 사용)

In [4]:
## parquet 파일 읽기

import pandas as pd

df = pd.read_parquet('dataset/member.parquet')

df.head()

      idx sex status grade
0     100   남   유료회원  초1학년
1    1000   여   유료회원  초5학년
2   10000   여   유료회원  초6학년
3  100007   남   유료회원  초4학년
4   10001   남   유료회원  초2학년

In [5]:
## parquet 파일 쓰기

df.to_parquet(
    path='dataset/member_parquet.parquet',
    index=False,
    engine='pyarrow',
    compression='gzip'
)

## 3. Bucket 관련 작업

In [ ]:
## 1) 버킷 목록 가져오기

In [ ]:
## 2) 버킷 생성

In [ ]:
## 3) 버킷 정보 조회

In [ ]:
## 4) 버킷 삭제

## 4. 객체 관련 작업

In [ ]:
## 1) 객체 업로드 - 파일

In [ ]:
## 2) 객체 업로드 - DataFrame

In [ ]:
## 3) 객체 다운로드

In [ ]:
## 4) 폴더 내 객체 목록 가져오기

In [ ]:
## 5) 객체 유무 조회

In [ ]:
## 6) 객체 삭제

## 5. Pandas로 GCP 데이터 읽기

- GCS를 작업자의 로컬 디렉토리 처럼 활용하여 데이터를 조회할 수 있는 매우 편리한 기능!

In [ ]:
!pip install fsspec gcsfs

In [ ]:
df = pd.read_parquet('dataset/member.parquet')

In [11]:
JSON_KEY_PATH = "sa_key/sprintda05-DE_key.json"

In [12]:
pd.read_csv(
    filepath_or_buffer='gs://sprintda05-jaemun-bucket/edu_dataset/point_his.csv',
    storage_options={'token' : JSON_KEY_PATH}
)

         idx  proc_ym  proc_ymd  point
0      87376   202304  20230401   1000
1      87599   202304  20230401   1000
2      87682   202304  20230401   1000
3      87555   202304  20230401   1000
4      87569   202304  20230401   1000
...      ...      ...       ...    ...
92074  97018   202306  20230630   5000
92075  97035   202306  20230630   5000
92076  96869   202306  20230630   5000
92077  96751   202306  20230630   5000
92078  96831   202306  20230630   5000

[92079 rows x 4 columns]